/car land frontend/node_modules
/car land backend/node_modules
/car land backend/src/.env
/car land backend/src
/car land backend/.env
/car land frontend/.env
/car land frontend/dist
/car land frontend/dist-ssr
/car land backend/keys
/car land backend/src
